<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Aproveita+</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>

<body>
    <header>
        <nav class="navbar" style="background-color: #92C6D1;">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="https://raw.githubusercontent.com/JefDfelipe/ProjetoIntegradorSENAC/efa40fef3c04fb54c2a8720fd3f292f723eee886/logo.png" alt="Aproveita+">
                </a>
                <div class="expand navbar-expand" id="navbarNav">
                    <div class="input-group ml-auto">
                        <!-- Barra de pesquisa -->
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Buscar produtos..." aria-label="Search">
                            <button class="btn" type="submit">Buscar</button>
                        </form>
                        </div>
                </div>
                <div class="icons ml-3">
                    <!-- Link para produtos favoritos -->
                    <a href="#" class="btn btn-link"><i class="fas fa-heart"></i></a>
                    <!-- Link para minha conta -->
                    <a href="#" class="btn btn-link"><i class="fas fa-user"></i></a>
                    <!-- Link para carrinho de compras -->
                    <a href="#" class="btn btn-link"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        </nav>
        
    </header>
    <section class="product-menu">
        <ul>
            <li><a href="#">Alimentos</a></li>
            <li><a href="#">Bebidas</a></li>
            <li><a href="#">Roupas</a></li>
            <li><a href="#">Móveis</a></li>
            <li><a href="#">Brinquedos</a></li>
        </ul>
    </section>
    <section class="featured-icons">
        <div class="icon">
            <i class="fas fa-gift"></i>
            <h3>Promoções</h3>
            <p>Confira nossas ofertas especiais.</p>
        </div>
        <div class="icon">
            <i class="fas fa-shopping-cart"></i>
            <h3>Compre Online</h3>
            <p>Faça suas compras pela internet.</p>
        </div>
        <div class="icon">
            <i class="fas fa-store"></i>
            <h3>Quem Somos</h3>
            <p>Conheça a equipe do Aproveita+ e a nossa iniciativa.</p>
        </div>
    </section>

   

  <section class="main-content">
    <div class="container products-container">
      <!-- Produto 1 -->
      <div class="product">
        <img
          src="https://raw.githubusercontent.com/JefDfelipe/ProjetoIntegradorSENAC/efa40fef3c04fb54c2a8720fd3f292f723eee886/produto1.png"
          alt="Produto 1" />
        <h2>Chocolate ao Leite Alpine Milk Milka Pacote 100g</h2>
        <p>VENCIMENTO: 12/12/2023.</p>
        <p>
          Descrição do produto: Chocolate ao Leite Alpine Milk Milka Pacote
          100g.
        </p>
        <button class="add-to-cart">Adicionar ao Carrinho</button>
      </div>

      <!-- Produto 2 -->
      <div class="product">
        <img
          src="https://raw.githubusercontent.com/JefDfelipe/ProjetoIntegradorSENAC/efa40fef3c04fb54c2a8720fd3f292f723eee886/produto2.png"
          alt="Produto 2" />
        <h2>Snack de Batata Cheddar Elma Chips Stax Pote 156g</h2>
        <p>VENCIMENTO: 15/12/2023.</p>
        <p>
          Descrição do produto: Snack à Base de Batata com Queijo Cheddar Elma
          Chips Stax Pote 156g.
        </p>
        <button class="add-to-cart">Adicionar ao Carrinho</button>
      </div>
    </div>
  </section>
  <footer>
    <p>&copy; 2023 Aproveita+. Todos os direitos reservados.</p>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>