<!DOCTYPE html>
<html>
<head>
    <title>Aproveita+ Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="logo">
        <img src="https://raw.githubusercontent.com/JefDfelipe/ProjetoIntegradorSENAC/efa40fef3c04fb54c2a8720fd3f292f723eee886/logo.png" alt="Logo do site">
    </div>
<div id="login" class="login-form-container">
    <header>LOGIN - SIGN UP</header>
    <fieldset>
    <div class="input-wrapper">
        <input type="text" placeholder="CPF ou CNPJ" />
    </div>
    <div class="input-wrapper">
        <input type="password" placeholder="Senha" />
    </div>
    <button id="acessar" type="button">Acessar</button>
    </fieldset>
</div>

<script>
    var vContinue = document.getElementById("acessar");
    var vLogin = document.getElementById("login");

    vContinue.addEventListener("click", function() {
        document.body.classList.add('denied');
    }, false);

    var pfx = ["webkit", "moz", "MS", "o", ""];
    function PrefixedEvent(element, type, callback) {
        for (var p = 0; p < pfx.length; p++) {
            if (!pfx[p]) type = type.toLowerCase();
            element.addEventListener(pfx[p] + type, callback, false);
        }
    }

    PrefixedEvent(vLogin, "AnimationEnd", function() {
        document.body.classList.remove('denied');
    });
</script>

</body>
</html>
