<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/todososprodutos.css">
    <title>Aproveita+ Todos os Produtos</title>
</head>
<body>
    <div id="colunas" class="colunas_5">
        <figure>
            <img src="https://i.imgur.com/ruU04I6.jpg">
            <figcaption>Camisa Xadrez Verde</figcaption>
            <span class="preco">$44</span>
            <a class="botao" href="#">Comprar Agora</a>
        </figure>

        <figure>
            <img src="https://i.imgur.com/ruU04I6.jpg">
            <figcaption>Camisa Xadrez Verde</figcaption>
            <span class="preco">$44</span>
            <a class="botao" href="#">Comprar Agora</a>
        </figure>
    </div>
</body>
</html>
